.activeAccordionFaqs  {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    position: relative;
}

.defaultFaqs {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
    position: relative;
}

.hidden {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.contentFaqs {
    display: flex;
    align-items: center;
    padding: 0px 0px 40px;
    height: auto;
    transition: 0.4s ease-in-out;
}

.activeAccordionFaqs .arrow {
    rotate: 45deg;
}

.arrow {
    transition: 0.3s;
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 25px;
}

.accordion-header {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-right: 60px;
}

.accordion-content {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0;
}

@media all and (max-width: 540px) {
    .activeAccordion, .default {
        margin-bottom: 10px;
    }
}