.stripe-box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 10px;
}

.payment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pay-btn {
    margin-top: 30px;
    font-size: 16px;
    padding: 10px 35px;
    background: #202020;
    border: none;
    color:#ffffff;
    width: 150px;
    align-self: center;
}

.confirm-answer {
    padding: 25px 5px;
    border: none;
    color: #202020;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.payment-success {
    font-size: 17px;
    font-weight: 600;
}

.payment-enjoy {
    font-size: 14px;
}

.checkmark {
    font-size: 28px;
    margin-bottom: 6px;
}